<html>

<head>
<title>{{ .title }}</title>
</head>

<body>
<p>测试接口</p>
<p><a href="http://www.baidu.com/">百度</a></p>
<p><a href="http://123.206.185.148:3000/pegasus">pegasus</a></p>

<form action="http://123.206.185.148:3000/test/pegasus/set">
Key:<br>
<input type="text" name="key" value="">
<br>
Value:<br>
<input type="text" name="value" value="">
<br><br>
<input type="submit" value="Set">
</form> 

</body>

</html>

